
.bold{
    font-weight: bold;
}
.right-aligned{
    float: right;
}
.list-number-of-albums-subtitle{
    color: #777;
    font-size: small;
    margin-left: 5px;
}
.detail-favorite{
    margin-left: 15px;
    top: 3px;
}
.youtube-subtitle{
    color: #777;
    font-size: small;
    margin-left: 5px;
}
.youtube-button{
    margin-top: 3px;
}
.wiki-button{
    margin-top: -5px;
    margin-left: 20px;
}
.filter-group{
    margin-top: 15px;
}
#album-list-panel{
    margin: 0px;
    margin-top: 20px;
}
#album-list-panel-body{
    padding: 0px;
}

.album-thumbnail{
    width: 70px;
    max-height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
.album-table{
    margin-bottom: 0px;
}
.album-title{
    margin-top: 15px;
}
.album-launching-date{
    margin-top: 25px;
}
.album-favorite{
    margin-top: 25px;
}
.album-front{

    /*float: left;*/
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
.album-track-list{
    /*float: left;*/
    margin-left: 30px;
}
.tacklist-table{
    margin-bottom: 0px;
}


.band-title{
    /*display: table-cell;
    vertical-align: middle;*/
}
.band-origin{
    /*margin-top: 35px;*/
}
.band-members{
    margin-top: 5px;
}
.band-favorite{
    /*margin-top: 35px;*/
}
.band-album-table{
    margin-bottom: 0px;
}
.band-detail-album-title{
    margin-top: 25px;
}
.band-detail-album-genre{
    margin-top: 25px;
}
.band-detail-album-favorite{
    margin-top: 25px;
}


.genre-title{
    margin-top: 5px;
}
.genre-favorite{
    margin-top: 5px;
}