<tr>
    <td>
        <img class="album-thumbnail" ng-src="img/{{ ::model.image }}" ng-alt="{{ ::model.title }}"/>
    </td>
    <td>
        <div class="album-title"><a ng-href="#albums/{{ ::model.id }}/detail">{{ ::model.title }}</a></div>
        <span>{{ ::model.band.name }}</span>
    </td>
    <td>
        <div class="album-launching-date">{{ ::model.year | launchedOn}}</div>
    </td>
    <td>
        <div class="album-favorite">
            <favoritos id-entity="model.id" name-entity="model.name" storage-key="'albums'"></favoritos>
        </div>
    </td>
    <td>
        <div class="well album-rating-group">
            <!--<not-my-rating ng-model="rate" max="5" readonly="true" on-hover="hoveringOver(value)"
                    on-leave="overStar = null" id-entity="model.id"></not-my-rating>-->
            <rating id-entity="model.id" read-only="true"></rating>
        </div>
    </td>
</tr>