<div id="album-list-panel" class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Álbumes</h3>
        <span class="input-group filter-group">
            <span class="input-group-addon" id="basic-addon1">Filtar</span>
            <input type="text" ng-model="filtroAlbumValue" ng-model-options="{ debounce: 1000 }" class="form-control" placeholder="Album title, band name, year..." aria-describedby="basic-addon1">
        </span>
    </div>
    <div class="panel-body">
        <table id="album-list-table" class="table table-striped album-table">
            <tbody>
            <tr album-table-element ng-repeat="album in albums" model="album">
            </tr>
            </tbody>
        </table>
    </div>
</div>



<!--
<h3>Álbumes</h3>

<table class="table table-striped">
    <tbody>
        <tr album-table-element ng-repeat="album in albums" model="album">
        </tr>
    </tbody>
</table>
-->
