<article>

    <h3>
        <span>{{ ::album.title }} ({{ ::album.year }})</span>
        <favoritos id-entity="album.id" name-entity="album.name" storage-key="'albums'"></favoritos>
    </h3>
    <div class="well">
        <p>Banda: <span class="bold"><a ng-href="#bands/{{ ::album.band.name }}/detail">{{ ::album.band.name }}</a></span></p>
        <p>Género: <span class="bold"><a ng-href="#genres/{{ ::album.genre.name }}/detail">{{ ::album.genre.name }}</a></span></p>
    </div>

    <img class="album-front" ng-src="img/{{ ::album.image }}" ng-alt="{{ ::album.title }}"/>

    <div id="album-list-panel" class="panel panel-default">
        <div class="panel-heading">
            <h4>Tracklist</h4>
        </div>
        <div id="album-list-panel-body" class="panel-body">
            <table class="table table-striped">
                <tbody>
                <tr tracklist-table-element ng-repeat="track in album.tracklist" track-name="track" band-name="album.band.name">
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--<div class="well album-track-list">
        <p class="bold">Tracklist:</p>
        <ol class="list-group">
            <li class="list-group-item" ng-repeat="track in album.tracklist">{{ ::track }}
            </li>
        </ol>
    </div>-->

</article>