<div id="album-list-panel" class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Bandas</h3>
    </div>
    <div id="album-list-panel-body" class="panel-body">
        <table class="table table-striped, album-list-table">
            <tbody>
            <tr band-table-element ng-repeat="band in bands" model="band">
            </tr>
            </tbody>
        </table>
    </div>
</div>


<!--
<h3>Bandas</h3>

<table class="table table-striped">
    <tbody>
    <tr band-table-element ng-repeat="band in bands" model="band">
    </tr>
    </tbody>
</table>
-->
