<article>

    <h3>
        <span>{{ ::band.name }}</span>
        <favoritos id-entity="band.id" name-entity="band.name" data-type="band"></favoritos>
    </h3>

    <h5>Origen: {{ ::band.origin }}</h5>

    <div class="well">
        <h5>Componentes:</h5>

        <ul class="band-member-list">
            <li ng-repeat="member in band.members">
                {{ ::member.name }} ({{ member.instruments | arrayToString}})
            </li>
        </ul>
    </div>
    <div id="album-list-panel" class="panel panel-default">
        <div class="panel-heading">
            <h5>Discografía:</h5>
        </div>
        <div id="album-list-panel-body" class="panel-body">
            <table class="table table-striped">
                <tbody>
                <tr ng-repeat="album in band.albums">
                    <!--<td>
                        <img class="album-thumbnail" ng-src="img/{{ ::album.image }}" ng-alt="{{ ::album.title }}"/>
                    </td>-->
                    <td>
                        <div class="band-detail-album-title"><a ng-href="#albums/{{ ::album.id }}/detail">{{ ::album.title }} ({{ ::album.year}})</a></div>
                    </td>
                    <td>
                        <div class="band-detail-album-genre">{{ ::album.genre.name }}</a></div>
                    </td>
                    <td>
                        <div class="band-detail-album-favorite">
                            <favoritos id-entity="album.id" name-entity="album.name" data-type="album"></favoritos>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</article>


