<article>

    <h3>
        <span>{{ ::band.name }}</span>
        <favoritos id-entity="band.id" name-entity="band.name" storage-key="'bands'"></favoritos>
        <button type="button" class="btn btn-default wiki-button" ng-click="openWikiPage()">Wikipedia</button>
    </h3>

    <h5>Origen: {{ ::band.origin }}</h5>

    <div class="well">
        <h5>Componentes:</h5>

        <ul class="band-member-list">
            <li ng-repeat="member in band.members">
                {{ ::member.name }} ({{ member.instruments | arrayToString}})
            </li>
        </ul>
    </div>
    <div id="album-list-panel" class="panel panel-default">
        <div class="panel-heading">
            <h5>Discografía:</h5>
        </div>
        <div id="album-list-panel-body" class="panel-body">
            <table class="table table-striped band-album-table">
                <tbody>
                <tr album-table-element ng-repeat="album in band.albums" model="album">
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</article>


