<tr>
    <td>
        <div class="band-title">
            <a ng-href="#bands/{{ ::model.name }}/detail">{{ ::model.name }}</a>
        </div>
    </td>
    <td>
        <div class="band-albums">
            <span class="badge">{{ ::model.albums.length }}</span>
            <span class="list-number-of-albums-subtitle">álbumes</span>
        </div>
    </td>
    <td>
        <div class="band-favorite">
            <favoritos id-entity="model.id" name-entity="model.name" storage-key="'bands'"></favoritos>
        </div>
    </td>
</tr>