<div id="album-list-panel" class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Géneros</h3>
        <span class="input-group filter-group">
            <span class="input-group-addon" id="basic-addon1">Filtar</span>
            <input type="text" ng-model="filtroGenreValue" ng-model-options="{ debounce: 1000 }" class="form-control" placeholder="Genre..." aria-describedby="basic-addon1">
        </span>
    </div>
    <div id="album-list-panel-body" class="panel-body">
        <table id="album-list-table" class="table table-striped">
            <tbody>
            <tr genre-table-element ng-repeat="genre in genres" model="genre">
            </tr>
            </tbody>
        </table>
    </div>
</div>


<!--
<h3>Géneros</h3>

<table class="table table-striped">
    <tbody>
    <tr genre-table-element ng-repeat="genre in genres" model="genre">
    </tr>
    </tbody>
</table>
-->
