<article>
    <h3>
        <span>{{ ::genre.name }}</span>
        <favoritos id-entity="genre.id" name-entity="genre.name" storage-key="'genres'"></favoritos>
    </h3>
    <div id="album-list-panel" class="panel panel-default">
        <div class="panel-heading">
            <h4>Álbumes:</h4>
        </div>
        <div id="album-list-panel-body" class="panel-body">
            <table class="table table-striped">
                <tbody>
                <tr album-table-element ng-repeat="album in genre.albums" model="album">
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</article>