<div id="album-list-panel" class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Géneros</h3>
    </div>
    <div id="album-list-panel-body" class="panel-body">
        <table id="album-list-table" class="table table-striped">
            <tbody>
            <tr genre-table-element ng-repeat="genre in genres" model="genre">
            </tr>
            </tbody>
        </table>
    </div>
</div>


<!--
<h3>Géneros</h3>

<table class="table table-striped">
    <tbody>
    <tr genre-table-element ng-repeat="genre in genres" model="genre">
    </tr>
    </tbody>
</table>
-->
