<span class="rating" ng-show="storagePermitted()">
    <span ng-click="" ng-show="isRate(1)" class="glyphicon glyphicon-star"></span>
    <span ng-click="setRate(1)" ng-hide="isRate(1)" class="glyphicon glyphicon-star-empty"></span>
    <span ng-click="" ng-show="isRate(2)" class="glyphicon glyphicon-star"></span>
    <span ng-click="setRate(2)" ng-hide="isRate(2)" class="glyphicon glyphicon-star-empty"></span>
    <span ng-click="" ng-show="isRate(3)" class="glyphicon glyphicon-star"></span>
    <span ng-click="setRate(3)" ng-hide="isRate(3)" class="glyphicon glyphicon-star-empty"></span>
    <span ng-click="" ng-show="isRate(4)" class="glyphicon glyphicon-star"></span>
    <span ng-click="setRate(4)" ng-hide="isRate(4)" class="glyphicon glyphicon-star-empty"></span>
    <span ng-click="" ng-show="isRate(5)" class="glyphicon glyphicon-star"></span>
    <span ng-click="setRate(5)" ng-hide="isRate(5)" class="glyphicon glyphicon-star-empty"></span>
</span>